services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /opt/certbot/etc:/etc/letsencrypt:ro   
      - /opt/certbot/www:/var/www/certbot:ro  
